<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fatura+</title>
    </head>
    <body>
        <form method="post">
            <input type="submit" name="novaFactura" value="Criar Factura">
            <input type="submit" name="empresa" value="Selecionar Remetente"><label for="empresa" id="empresaSelect"> </label><br>
            <input type="submit" name="cliente" value="Selecionar Destinatário"><label for="cliente" id="clienteSelect"> </label><br>
            <select name="addProdutos" id="selectProductos">
            </select>
            <input name="quantityProd" type="number" value="1" min="1" max="99">
            <input type="submit" name="produto" value="Adicionar Producto"><br>
        </form>
        <table id="produtoSelect" style="border-style: solid">
            <tr><th>Id</th><th>Nome</th><th>Quantidade</th><th>Preço</th></tr>
        </table><br>
    </body>
</html>